*{
    color: #FF0000;
    font-weight: bold;
    background-color: #FCFAE4;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: #FF0000;
    text-align: center;
}
ul{
    text-align: center;
}
header{
    color: #FF0000;
    background-color: black;
}

div{
    background-color:  brown;
    border-radius: 45px;
}