body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 45px;
    background-color: white;
}

.container {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    margin-top: 125px;
    background-color: #fcfae4;
    padding: 20px;
    border: 3px solid black;
    border-radius: 45px;
}


input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
    width: 300px;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    border: 3px solid black;
    border-radius: 45px;
}
button{
    background-color: #fcfae4;
}
